.mainPageHeader {
    position: fixed;
    padding-left: 2%;
    height: 7%;
    width: 100%;
    background-color: #141C25;
    border-bottom: .1rem solid rgb(97, 93, 93);
    color: white;
    display: flex;
    align-items: center;
}

.companyIcon {
    font-size: xx-large;
}

.companyName {
    margin-left: 1%;
}